body{
margin: 0;
padding: 0;
background: url(../imgs/background.jpg) no-repeat;
background-size: cover;
font-family: "Permanent Marker";
}
.box{
    width: 1000px;
    font-size: 28px;
    background: rgba(0, 0, 0, 0);
    padding: 40px;
    text-align: center;
    color: black;
    margin: auto;
    font-family: "Permanent Marker";
}
.box-img{
    border-radius: 25%;
    width: 300px;
    height: 300px;
}
.nav{
    width: 350px;
    height: auto;
    position: absolute;
    top: 20%;
    left: 0;
}
.nav a{
    text-decoration: none;
    font-size: 28px;
    font-family: "Permanent Marker";
    font-weight: bold;
    height: 90px;
    margin: 5px 0;
    float: left;
    display: inline-block; 
    background-color: black;
    color: white;
    line-height: 90px;
    text-align: center;
}
a.active, .nav a:hover{
    background-color: white;
    color:black;
    width: 100%;
}
.a{
    width: 95%;
}
.b{
    width: 85%;
}
.c{
    width: 75%;
}
.content{
    position: absolute;
    width: 80%;
    min-height: 500px;
    height: auto;
    right: 0;
    top: 15%;
}
.portfolio{
    position: absolute;
    right: 0;
    top: 10px;
    color: black;
    font-family: Verdana;
    padding: 0 60px;
    display: none;
    width: 100%;
}
.card{
    text-align: center;
    background-color: white;
    border: solid 1px black;
    font-family: "Permanent Marker";
    border-radius: 5%;
}
.card-title{
    font-weight: bold;
}
.text-center{
    font-weight: bold;
    font-family: "Permanent Marker";
    font-size: 50px;
}
.contact-imgs{
    border-radius: 25%;
    width: 150px;
    height: 150px;
}
.contactMe{
    display: none;
    color: black;
    font-family: "Permanent Marker";
    text-align: center;
}
